@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-color: #151503;
  --light-yellow: #FFF0A5;
  --dark-brown: #803e14 ;
  --base-color: #25250f;
  --white-color: #ffffff;
  --olive-green: #78784d;
  --dark-yellow: #F3C741;
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background: var(--base-color);
}

a{
  text-decoration: none;
}
/* .wrapper{
  max-width: 1920px;
  margin: 0 auto;
} */

